{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Automatic Poet</title>
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
    
</head>
<body>
    <header>
        
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="/poetry/" data-slug="poetry">All Poetry</a></li>
            <li class = "box"><a class = "headlink" href="/blog/" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="" style = "text-decoration:underline" data-slug="automation">Automatic Poet</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
        </div>
    </header>
    <section height = "50vh" width = "auto">
        <h2 class = "comingSoonText">Coming Soon...</h2>
        <p style = "margin-top: 10vh; text-align: center!important;">Want to create your own poems? Want AI to do it for you? <br> This platform will allow you to do so — soon.</p>
    </section>
    <footer class ="fadeddata" style = "margin-top:20vh">
        <div>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://github.com/kunshksingh/etherphire" data-slug="github"><img style = "height:15%;width:15%; margin-left: 14vw;" src = "https://github.githubassets.com/images/modules/logos_page/Octocat.png"></a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/etherphire/" data-slug="instagram"> <img style = "height:9%;width:9%;   margin-left: 15vw; margin-bottom:2vh" src = "https://cdn-icons-png.flaticon.com/512/174/174855.png"> </a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://twitter.com/etherphire" data-slug="twitter"> <img style = "height:11%;width:11%;   margin-left: 18vw; margin-bottom:1vh" src = "https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5294_-_Twitter_I-512.png"> </a>
        </div> 
    </footer>

</body>
</html>