{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Automatic Poet</title>
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
    
</head>
<body>
    <header>
        
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="/poetry/" data-slug="poetry">All Poetry</a></li>
            <li class = "box"><a class = "headlink" href="/blog/" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="" style = "text-decoration:underline" data-slug="automation">Automatic Poet</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
        </div>
    </header>
    <section height = "50vh" width = "auto">
        <h2 class = "comingSoonText">Coming Soon...</h2>
        <p style = "margin-top: 10vh; text-align: center!important;">Want to create your own poems? Want AI to do it for you? <br> This platform will allow you to do so — soon.</p>
    </section>


</body>
</html>