{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
</head>
<body style = "background-color:rgb(14, 12, 10)!important;">
    <header>
        
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="/poetry/" data-slug="poetry">Poetry</a></li>
            <li class = "box"><a class = "headlink" href="" style = "text-decoration:underline" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="/automation/" data-slug="automation">Automatic</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
        </div>
    </header>
    <main style = "margin-bottom:10vh;">
    {%  for object in objects %}
        <div class = "card justify-content-center" style = "margin-left: 10vw; width: 60vw">
            <div class = "card-body align-self-center">
                <div class = "poemBox">
                    <span class = "card-title poemTitle" style = "margin-top:3vh; margin-left: 7vw;"><a style = "text-decoration:none; color:rgb(166,166,166)" class = "card-link noU" >{{ object.month }} / {{ object.day }} / {{ object.year }}</a></span>
                    <span style = "margin-left: 5vw; margin-right:5vw;">
                        <hr style = "background:white; margin-left: 3vw; margin-bottom: -1.35vh;">
                        <p style = "line-height:65px">{{object.text|safe}}</p>
                    </span>
                </div>
            </div>
            <hr style = "background:white; margin-bottom: -1.35vh;">
        </div>
    {% endfor %}
    </main>
    <footer class ="fadeddata" style = "height:35vh;">
        <div>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://github.com/kunshksingh/etherphire" data-slug="github"><img style = "height:15%;width:15%; margin-left: 14vw;" src = "https://github.githubassets.com/images/modules/logos_page/Octocat.png"></a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/etherphire/" data-slug="instagram"> <img style = "height:9%;width:9%;   margin-left: 15vw; margin-bottom:1vw" src = "https://cdn-icons-png.flaticon.com/512/174/174855.png"> </a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://twitter.com/etherphire" data-slug="twitter"> <img style = "height:11%;width:11%;   margin-left: 18vw; margin-bottom:0.5vw" src = "https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5294_-_Twitter_I-512.png"> </a>
        </div> 
    </footer>

</body>
</html>