{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
</head>
<body style = "background-color:rgb(29, 11, 13)!important;">
    <header>
        
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="/poetry/" data-slug="poetry">All Poetry</a></li>
            <li class = "box"><a class = "headlink" href="" style = "text-decoration:underline" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="/automation/" data-slug="automation">Automatic</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
        </div>
    </header>



</body>
</html>