{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
    <title>Etherphire</title>

</head>
<body>
    <header>
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="poetry/" data-slug="poetry">All Poetry</a></li>
            <li class = "box"><a class = "headlink" href="blog/" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="automation/" data-slug="automation">Automatic</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
           
        </div> 
    
    </header>
    <section>
        <div class="metadata">
            <!-- Experiment to see how google search results will react to including popular words/phrases but in moderation
                 Following will use AI in order to generate popular terms in future, but for now, will use static words-->
            <!--Jackson State Football YoutubeTV Joe Manchin NFL Games Today Anothony Davis BYU Football Kangol Kid John Mulaney Barcelona-->
        </div>
        <div class = "etherphireMain">
            <span class = "etherphireGradient"></span>
            <span class = "etherphirePulse"></span>
            <span class = "pulseCutoff">etherPHIRE</span>
           
        </div>

    </section>
    <section>
        <div class = "description">
            <a> "It's not about what you say — </a>
            <br>
            <a>  It's about what you mean"</a>
            <br>
            <br>
            <br>
            <a class = "button " href = "poetry/"> Enter </a>
        </div>
    </section>
    <footer class ="fadeddata" style = "margin-top:20vh">
        <div>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://github.com/kunshksingh/etherphire" data-slug="github"><img style = "height:15%;width:15%; margin-left: 6vw;" src = "https://github.githubassets.com/images/modules/logos_page/Octocat.png"></a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="" data-slug="instagram"> <img style = "height:9%;width:9%;   margin-left: 5vw; margin-top:2vh" src = "https://cdn-icons-png.flaticon.com/512/174/174855.png"> </a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="" data-slug="twitter"> <img style = "height:11%;width:11%;   margin-left: 7vw;" src = "https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5294_-_Twitter_I-512.png"> </a>
        </div> 
    </footer>
</body>
</html>
