{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
    <title>{{ poemName }}</title>
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
</head>
<body style = "background-color: rgb(14, 12, 10);">

    <a href = javascript:history.back()><img class = "headlink antiFade" src = "https://cdn-icons-png.flaticon.com/512/60/60577.png" style = "margin-right:-5vw; left: -5vw; filter:invert(30%) sepia(90%) hue-rotate(320deg) saturate(6) brightness(40%); height:5%;width:5%;"></a>
<h1>{{ poemName }}</h1>

<p style = " white-space:pre; margin-left:2vw;">{{ poemText }}</p>


</body>
</html>
