
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'phire.css'%}" />
    <title>Etherphire</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
    </style>
</head>
<body style = "background-color:rgb(14, 12, 10)!important;">
    <header>
        
        <div class = "sticky">
            <li class = "box"><a class = "headlink" href="" style = "text-decoration:underline" data-slug="poetry">Poetry</a></li>
            <li class = "box"><a class = "headlink" href="/blog/" data-slug="blog">Blog</a></li>
            <li class = "box"><a class = "headlink" href="/automation/" data-slug="automation">Automatic</a></li>
            <li class = "box"><a class = "headlink" href="https://github.com/kunshksingh/etherphire" data-slug="github">Github</a></li> 
        </div>
    </header>
    
    <main>
        <a href = javascript:history.back()><img class = "headlink antiFade" src = "https://cdn-icons-png.flaticon.com/512/60/60577.png" style = "margin-right:-5vw; left: -5vw; filter:invert(30%) sepia(90%) hue-rotate(320deg) saturate(6) brightness(40%); height:5%;width:5%;"></a>
        <span class = "preface" style = "text-align:center">Preface</span>
        <div class = "prefaceText"> 
        Modern art has been popularized over the past few decades. 
        Many obsess over mere lines which could be drawn without talent, 
        though it is quite reasonable as to why. The representation of modern art as interpreted by the holder is grand and has significance to their core personality.
        From the creator to the interpreter, modern art is more than the image, but how the art represents a spirit from the realm of emotion.
	    Like modern art,  poetry is also a type of abstraction. To me, poetry is like a form of photography expressed by emotion. Rather than capturing the visual scene of a life moment, 
        poetry is able to frame a complex emotional state through the abstraction of words. Therefore, it is crucial that the conveyed emotional state is as clear and authentic as possible. 
        By editing or changing poetry after the first draft, the emotion captured by the author is obscured and the reader is unable to enjoy the original work. Therefore, like modern art, 
        it is crucial to leave the authentic copy as it is. 
        Even if the writing feels unfinished or the grammar seems to be incorrect, all mistakes are intentional—that is modern poetry: a raw, ethereal energy that radiates like a beacon of light. 
        Except the resulting radiation is not visual and rather both emotional and spiritual. And thus,  
        I present to you, modern poetry. The quality of each piece does not simply lie in the concentrated effort exhausted by the creator, but the ability for any audience to interpret and absorb the emotions of a work. 
        Each poem presents a new mental state for a reader to enjoy, and only the best modern poets will be able to trigger a strong response in their audience, though the response may be different than what they anticipate. 
        I hope your read is as great of a pleasure as it was crafting each one of these works.
        <span style = "margin-left: 2vw "></span>
        <hr style = "color:hsla(0, 91%, 50%, 1)!important">
       </div>
       

    </main>
    <footer class ="fadeddata footer">
        <div>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://github.com/kunshksingh/etherphire" data-slug="github"><img style = "height:15%;width:15%; margin-left: 14vw;" src = "https://github.githubassets.com/images/modules/logos_page/Octocat.png"></a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/etherphire/" data-slug="instagram"> <img style = "height:9%;width:9%;   margin-left: 15vw; margin-bottom:1vh" src = "https://cdn-icons-png.flaticon.com/512/174/174855.png"> </a>
            <a class = "faded" target="_blank" rel="noopener noreferrer" href="https://twitter.com/etherphire" data-slug="twitter"> <img style = "height:11%;width:11%;   margin-left: 18vw; margin-bottom:0.5vh" src = "https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5294_-_Twitter_I-512.png"> </a>
        </div> 
    </footer>
</body>
</html>
	
